/.idea
/.vscode
/apps
/libs
/node_modules
/tools
.editorconfig
.gitignore
.prettierignore
.prettierrc
angular.json
jest.config.json
nx.json
proxy.congf.json
README.md
tslint.json
tsconfig.json
yarn.lock