mat-form-field {
  width: 300px;
}

div {
  margin-top: 8px;
}

section {
  height: 100%;
}

button {
  width: 50%;
  margin: 0px 8px;
}

.incorrectCredentials {
  color: red;
}

.icon {
  cursor: pointer;
}