.float {
	z-index: 9;
	position:fixed;
	bottom:30px;
	right:30px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.tab-height {
	height: 90%;
}

.pad-bot {
	padding-bottom: 16px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
	height: auto;
	width: auto;
}

img {
	width: 300px;
	height: 200px;
	margin-left: -16px;
	margin-right: -16px;
}